*.exe
/Study_Material
/LeetCode/Achievements
/Z_experiment
# Ignore C/C++ compiled binaries
*.out
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.lai
*.la
*.a.meta
*.lo
*.slo
*.ilk
*.pdb
*.exp
# Ignore build directories
build/
Debug/
Release/
